<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <title>게시판</title>
</head>
<body>
  <div th:replace="common/header :: headerFragment"></div>
  <div class="container">
    <div class="page-header"><h3>글쓰기</h3></div>
    <form action="/post/create" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">제목 <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">내용
        <textarea name="contents" class="form-control" id="contents" maxlength="3000" rows="10" placeholder="여기에 글을 쓰세요">

        </textarea>
      </div>
      <div class="form-group">작성자 email <input type="email" name="email" class="form-control">
      </div>
      <button type="submit" class="btn btn-secondary">글작성 완료</button>

    </form>
  </div>
</body>
</html>